#ma-structure-wrapper {
    vertical-align: top;
    left: 50%;
    display: inline-block;
    width: calc(50% - 2px);
    height: 100%;
    top: 0;
}

#ma-sequence-wrapper {
    vertical-align: top;
    left: 0;
    display: inline-block;
    width: calc(50% - 2px);
    height: 100%;
    top: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ma-transparency-slider {
    width: calc(100% - 6px);
    margin-left: 3px;
    margin-top: calc(100vh - 25px - 40px);
    position: relative;
}
.ma-transparency-slider input {
    width: 100%;
    position: relative;
}

.ma-structure-viewer-wrapper {
    height: calc(100% - 40px);
    width: 100%;
    position: absolute;
}

i.fas.fa-download {
    cursor: pointer;
    float: right;
}

.ma-structure-viewer-header {
    height: 40px;
}
